  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/">SCR_CPY</a></h1>
      <nav class="nav-menu d-none d-lg-block">
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->