<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Capture any websites</h1>
          <h2></h2>
          <div class="d-flex">

            <form action="/" method="post">
              <div class="form-group">
                  <div class="form-inline">
                  <input type="text" class="form-control" id="url" name="url" placeholder="Enter the URL..." required>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                
                <% if(typeof errormessage !== 'undefined') { %>
                  <p class="warning"><%= errormessage %></p> 
                <% } %>
                <button type="submit" class="button">Download</button>
                </div>
              </div>
              <h3></h3>
              
              
              <div class="form-group row">
               
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="fullPage" id = "fullPage">
                    <label class="form-check-label" for="fullPage">
                      Take full page screenshot
                    </label>
                  </div>
                </div>

              </div>

              

              <h3></h3>
              <label class="radio-inline control-label">Resolution</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="fullhd" name="resolution" value="fullhd" checked>
                <label class="custom-control-label" for="fullhd" >Full Hd</label>
              </div>
              
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="hd" value="hd" name="resolution">
                <label class="custom-control-label" for="hd">Hd</label>
              </div>


              <h3></h3>
              <label class="radio-inline control-label">File format</label>  
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="png" name="fileType" value="png" checked>
                <label class="custom-control-label" for="png" >png</label>
              </div>
              
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="jpeg" value="jpeg" name="fileType">
                <label class="custom-control-label" for="jpeg">jpeg</label>
              </div>

    

            </form>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
    

  </section><!-- End Hero -->

  <main id="main">

  </main><!-- End #main -->
  <%- include('./partials/footer.ejs') %>
</body>

</html>